/*$secondary: red;*/
 $enable-negative-margins: true;

@import '../bootstrap/scss/functions';
@import '../bootstrap/scss/variables';

$custom-colors: (
    "mpas1": #2A84EE,
    "mpas2": #2EB897,
    "mpas3": #969EB1,
    "mpas4": #6C778E,
    "mpas5": #E8F2FC,
    "royalgreen": rgb(16, 237, 16),
    "royalpurple": rgb(233, 5, 233),
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "black": $black,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import './mixins';
@import './general';
@import './blocks/header';
@import './blocks/internal-analytics';
@import './blocks/opportunities';
@import './blocks/save';
@import './blocks/collecting';
@import './blocks/why';
@import './blocks/trial';
@import './blocks/choose';
@import './blocks/beginner';
@import './blocks/reviews';
@import './blocks/faq';
@import './blocks/footer';
@import '../scss/blocks/test-block';