.beginner {
    min-height: 345px;
    background: linear-gradient(to right, #FFF1D7, #FFB57F);
    border-radius: 10px;

    .beginner__title {
        @include card-title;
    }

    .beginner__payment {
        height: 30px;
    }

    .beginner__text {
        font-size: 30px;
        font-weight: 700;
        /*line-height: 58px;*/
    }

    .beginner__icon {
        display: inline-block;
        width: 22px;
        height: auto;
    }

    .beginner__picture {
        position: relative;

        .beginner__picture-element-1 {
            @include picture-element(absolute, 0, 15px, 150px);
        }

        .beginner__picture-element-2 {
            @include picture-element(absolute, 1, -48px, 220px);
        }

        .beginner__picture-element-3 {
            @include picture-element(absolute, 0, -0px, inherit);
            right: -45px;
        }
    }
}