.opportunities {
    min-height: 750px;
    border-radius: 10px;

    .opportunities__title {
        @include section-title;
    }

    .opportunities__card {
        min-height: 700px;
        @include shadow;
    }

    .opportunities__list {
        font-size: 26px;
        font-weight: 700;
        line-height: 30px;
    }

    .opportunities__nav-item-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .opportunities__nav-item-link {
        min-height: 30px;
        /*color:$mpas2;*/
        color: #2EB897;
    }

    .opportunities__nav-item-link:hover {
        min-height: 30px;
        /*color:$mpas1;*/
        color: #2A84EE;
    }

    .opportunities__content {

        .opportunities__content-title {
            @include section-subtitle;
        }
    }
}