.save {
    min-height: 310px;

    .save__form {
        @include form-box-props;
    }

    .save__picture {
        position: relative;

        .save__picture-element {
            position: absolute;
            z-index: 1;
            bottom: -48px;
            left: 200px;
        }
    }
}