.why {

    .why__title {
        @include section-title;
    }

    .why__item {

        .why__item-wrap {
            min-height: 340px;
            border-radius: 10px;
        }

        .why__item-title {
            @include section-subtitle;
        }

        .why__item-icon {
            display: inline-block;
            width: 35px;
            height: 35px;
        }
    }
}